@{
    ViewBag.Title = "Phạm Thị Thu Huyền";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.msv</h3>
<h3>@ViewBag.fullname</h3>

<address>
    K22CNT4<br />
    AspNet Mvc5<br />
    <abbr title="Phone">P:</abbr>
    0343649641
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:huyephamthithu1202@gamil.com">huyenphamthithu1202@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:chungtrinhj@gamil.com">chungtrinhj@gmail.com</a>
</address>