@{
    ViewBag.Title = "Phạm Thị Thu Huyền";
}
<h2>@ViewBag.Title.</h2>
<h2>Mã số: 2210900030</h2>
<h2>Ngày sinh:12/02/2004</h2>
<h3>@ViewBag.Message</h3>

<address>
   Lớp:K22CNT4
</address>

<address>
    <strong>Email:</strong>   <a href="huyenphamthithu1202@gmail.com">huyenphamthithu1202@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>