USE [PtthK22CNT4qlSinhVien]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 6/26/2024 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[PtthMaSV] [nchar](10) NOT NULL,
	[PtthMaMH] [nchar](10) NOT NULL,
	[PtthDiem] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 6/26/2024 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[PtthMaKH] [nchar](10) NOT NULL,
	[PtthTenKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[PtthMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/26/2024 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[PtthMaMH] [nchar](10) NOT NULL,
	[PtthTenMH] [nvarchar](50) NULL,
	[PtthSoTiet] [nchar](10) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[PtthMaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/26/2024 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[PtthMaSV] [nchar](10) NOT NULL,
	[PtthHoSV] [nvarchar](50) NULL,
	[PtthTenSV] [nvarchar](50) NULL,
	[PtthPhai] [bit] NULL,
	[PtthNgaySinh] [date] NULL,
	[PtthNoiSinh] [nvarchar](50) NULL,
	[PtthMaKH] [nchar](10) NULL,
	[PtthHocBong] [decimal](18, 0) NULL,
	[PtthDiemTrungBinh] [decimal](18, 0) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[PtthMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SINHVIEN] ([PtthMaSV], [PtthHoSV], [PtthTenSV], [PtthPhai], [PtthNgaySinh], [PtthNoiSinh], [PtthMaKH], [PtthHocBong], [PtthDiemTrungBinh]) VALUES (N'2210900030', N'Phạm Thị Thu', N'Huyền', 1, CAST(N'2004-02-12' AS Date), N'Thanh Hóa', N'K22CNT4   ', CAST(4000000 AS Decimal(18, 0)), CAST(82 AS Decimal(18, 0)))
GO
