@{
    ViewBag.Title = "Phạm Thị Thu Huyền";
}
<h2>@ViewBag.Title.</h2>
<h3>Lesson 07 của Phạm Thị Thu Huyền - Cam kết không đạo văn</h3>

<address>
    K22CNT4 - Môn lập trình web với công nghệ ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Cá nhân:</strong> <a href="mailto:huyenphamthithu1202@gmail.com">huyenphamthithu1202@gmail.com</a>
</address>